.verified::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -4px;
    height: 16px;
    width: 16px;
    background-image: url("https://raw.githubusercontent.com/lchs-cybersecurity/veritas-assets/master/check.png");
    background-size: 16px;
    background-repeat: no-repeat;
}

.unverified::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -4px;
    height: 16px;
    width: 16px;
    background-size: 16px;
    background-image: url("https://raw.githubusercontent.com/lchs-cybersecurity/veritas-assets/master/alert.png");
    z-index: 999;
    cursor: pointer;
}

.gmail-button {
    color: white;
    padding: 2px 8px;
    margin-left: 4px;
    font-size: 12px;
    border-radius: 10px;
    opacity: 0.78;
    font-family: 'Google Sans', Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}
.gmail-button:hover {
    opacity: 1.0;
    cursor: pointer;
}
.gmail-button:focus {
    opacity: 1.0;
    outline: none;
}
.gmail-button.report {
    background-color: #e40000;
}
.gmail-button.whitelist {
    background-color: #222222;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

.veritas-feedback {
    animation: fadeIn ease 1s;
    font-size: 18px;
    position: absolute;
    z-index: 999;
    bottom: 40px;
    right: 40px;
    background-color: #ffffff;
    border: solid 4px #00bb6d;
    border-radius: 10px;
    height: 100px;
    width: 300px;
    padding: 20px;
    font-family: 'Google Sans', Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

.veritas-icon {
    position: absolute;
    top: -24px;
    left: -24px;
    height: 48px;
    width: 48px;
    background-image: url("https://raw.githubusercontent.com/lchs-cybersecurity/veritas/master/assets/veritas-border.png");
    background-size: 48px;
    background-repeat: no-repeat;
}

.veritas-feedback button {
    margin: auto;
    font-size: 20px;
    color: #ffffffe0;
    border-radius: 8px;
    padding: 8px;
    background: linear-gradient(135deg, #00a558 0%, #007994 100%);
    background-blend-mode: multiply;
    background-color: #ffffff;
    transition: background-color 0.2s;
    border: none;
}

#veritas-feedback-no {
    background: linear-gradient(135deg, #397d5d 0%, #385e66 100%);
}

.veritas-feedback button:focus {
    outline: none;
    box-shadow: 0px 0px 5px #00a380;
}

.veritas-feedback button:hover {
    background-color: #cecece;
}

.veritas-buttons {
    margin-top: 10px;
    text-align: center;
}