.popup {
  font-size: 14px;
  width: 240px;
}

.popup-contents {
  padding: 0 8px 8px 8px;
}

.popup header {
  padding: 8px;
}

.flex-container, .flex-right {
  margin: 0;
  padding: 0;
}

.icon {
  width: 18px;
  height: 18px;
  padding: 4px;
}

.small-label {
  font-size: 12px;
}

#domain {
  font-size: 18px;
}

.info-field {
  font-size: 14px;
  padding: 4px;
}

.popup footer {
  left: 0;
  color: #ffffffe0;
  font-size: 12px;
}

.popup .footer-right {
  padding: 8px;
}

.popup .logo-icon {
  width: 24px;
  height: 24px;
}

.popup .logo-name {
  font-size: 16px;
  padding-left: 4px;
}

.popup .contents {
  padding: 10px 20px;
  margin-left: 0;
  margin-right: 0;
}